<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/ktv/Public/css/bootstrap.css">
    <script src="/ktv/Public/js/jquery-3.2.1.js"></script>
</head>
<style>
    .tips{
        width:0;
        height:3px;
        background: skyblue;
        position: absolute;
        top:0;
        left:0;
        z-index: 999;
    }
</style>
<script>
    $(function () {
        $('.dropdown').on('click',function () {
            $('.dropdown-menu',this).slideToggle();
        })
        let tips=$('.tips');
        $(window).ajaxStart(function () {
            tips.animate({width:'80%'});
        })
        $(window).ajaxComplete(function () {
            tips.stop().animate({width:'100%'}).queue(function () {
                $(this).css('width',0);
            })
        })
    })
</script>
<body>
    <div class="tips"></div>
    <nav class="navbar navbar-default">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">ktv后台管理</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="#">游戏管理 <span class="sr-only">(current)</span></a>
                </li>
                <li>
                    <a href="#">商店管理</a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">歌曲管理
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#">Action</a>
                        </li>
                        <li>
                            <a href="#">Another action</a>
                        </li>
                        <li>
                            <a href="#">Something else here</a>
                        </li>
                        <li role="separator" class="divider">

                        </li>
                        <li>
                            <a href="#">Separated link</a>
                        </li>
                        <li role="separator" class="divider">

                        </li>
                        <li>
                            <a href="#">One more separated link</a>
                        </li>
                    </ul>
                </li>
            </ul>

        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
