<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Title</title>
    <script src="/ktv/Public/js/rem.js"></script>
    <link rel="stylesheet" href="/ktv/Public/css/game.css">
</head>
<body>
    <header>
        <a href="javascript:history.back();"></a>
        <p>游戏</p>
        <a></a>
    </header>
    <ul class="main">
        <li><a href="/ktv/index.php/game/select?type=1">真心话</a></li>
        <li><a href="/ktv/index.php/game/select?type=2">大冒险</a></li>
        <li><a href="">真心话</a></li>
        <li><a href="">大冒险</a></li>
        <li><a href="">真心话</a></li>
        <li><a href="">大冒险</a></li>
    </ul>
</body>
</html>