<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Title</title>
    <script src="/ktv/Public/js/rem.js"></script>
    <link rel="stylesheet" href="/ktv/Public/css/index.css">
</head>
<body>
<ul class="main">
    <li><a href="/ktv/index.php/music/index">点歌</a></li>
    <li><a href="/ktv/index.php/game/index">游戏</a></li>
    <li><a href="/ktv/index.php/shop/index">商店</a></li>
    <li><a href="/ktv/index.php/myself/index">我的</a></li>
</ul>
</body>
</html>